/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TYPOGRAPHY                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
h1,h2,h3{ font-family: 'Source Serif Pro', serif }
h4,h5,h6, p{ font-family: 'Sarabun', sans-serif }

/* h1{} */
h2{ font-size: 5.6em; font-weight: 700 }
h3{ font-size: 4.8em; line-height: 1.1 }
h4{ font-size: 3.2em; line-height: 1.2 }
h5{ font-size: 2.4em }
h6{ font-size: 1.7em; font-weight: 700 }
h1,h2,h3{letter-spacing:1px}

p{ font-size: 1.8em; line-height: 1.4; font-weight: 300; color: #222 }

sup{
  vertical-align: super;
  font-size: .7em;
  padding-left:2px;
  position: relative;
}

sup:hover{
  font-weight: 700;
  cursor: pointer;
}
sup:hover::before{
  content: '\25B2';
  position: absolute;
  top: -8px; left: 8px;
  font-size: 18px;
  color: #222;
}
sup:hover::after{
  content:'('attr(cite)')';
  position: absolute;
  bottom: 4px; left: 16px;
  background: #222;
  padding: 4px 12px;
  white-space: nowrap;

  color: #FFF;
  font-weight: 300;
  display: block;
}

span.hide-cite{
  display: none;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  LAYOUT                                                                 ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.content-wrap{
  max-width: 1000px;
  margin: 0 auto;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  NAVIGATION                                                             ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

nav.top{
  display: none;
  position: fixed;
  top: 0px; left: 0px;
  width: 100%;
  height: 4.8rem;
}

nav.top .mobile{
  display: flex;
    justify-content: space-between;
  width: 100%;
    max-width: 1000px;
  margin: 0 auto;
}

button.mobile-menu {
  position: relative;
  padding: 4px;
  border: 2px solid #FF0000;
  z-index: 999;
}

nav.top .mobile .hidden-menu{
  position: fixed;
  top: 0px; right: 0px;
  z-index: 900;
}

.embolden{
  font-weight: 700;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  TABLE OF CONTENTS                                                      ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#table-of-contents ul.main{ 
  font-size: 1.4em;
  font-family: 'Sarabun', sans-serif;
}

#table-of-contents ul.main > li{ margin-bottom: .4rem }
#table-of-contents ul.main > li >a {font-weight: 700}

#table-of-contents ul.main ul.subsections{
  width: 100%;
  font-size: .9em;
}

#table-of-contents ul.main ul.subsections > li::before{
  content: '\2022';
}

#table-of-contents ul.main ul.subsections > li{ margin-top: .8rem; }
#table-of-contents ul.main ul.subsections > li a {display:none}
#table-of-contents ul.main ul.subsections > li:first-of-type{ margin-top: 0; }

#table-of-contents a{ text-decoration: none; color: #000 }

#table-of-contents ul.main[data-status='active']{
  
}

#table-of-contents ul.main[data-status='active'] ul.subsections > li::before{display:none}
#table-of-contents ul.main[data-status='active'] ul.subsections > li a{ display: block }
#table-of-contents ul.main[data-status='active']{ font-size: 1.6em }

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
::::::::::::::::::::  SECTIONS                                                               ::::::::::::::::::::
::::::::::::::::::::                                                                         ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  HERO                                                                   ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
#hero{
  margin-top: 4rem;
  height: 16rem;
  padding-top: 1.6rem;
}

#hero p.sub-header{
  font-size: 2em;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::  MAIN CONTENT                                                           ::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

#main-content{
  position: relative;
  height: calc(100vh - 20rem);
}

#main-content .content-wrap{
  width: 100%;
  position: relative;
  height: 100%;
}

/*::::  LEFT BAR    ::::::::::::::::::*/

.left-bar{
  position: absolute;
  width: 25%;

  text-align: right;
}

/*::::  RIGHT CONTENT    ::::::::::::::::::*/

.right-content{
  position: absolute;
  width: 75%; height: 100%;
  left: 25%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-left: 2.4rem;
  padding-bottom: 4.8rem;
  padding-right: 1.6rem;
}

.right-content .main-section{
  margin-bottom: 9.6rem;
}

.right-content h3{ margin-bottom: 1.6rem; }
.right-content h4{ margin-bottom: 1.6rem; }
.right-content h5{ margin-bottom: 1.6rem; }
.right-content h6{ margin-bottom: .8rem; }
.right-content p{ margin-bottom: 3.2rem; }

  .right-content::-webkit-scrollbar{ width: 2px }
  .right-content::-webkit-scrollbar-thumb{ background: #000 }

.right-content .sub-section{
  position: relative;
  margin-top: 4.8rem;
}

.right-content .sub-section:first-of-type{margin-top:0}

.video-wrap{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.video-wrap p.video-note{
  font-style: italic;
  font-size: 1.6em;
  max-width: 560px;
  margin-top: 1.6rem;
}

.key-player{
  display:flex;
  flex-wrap: wrap;
  margin-top: 4.8em;
}

.key-player > h5,
.key-player > h6,
.key-player > p{
  width: 100%;
}

.key-player .left{
  width: 32%;
}

.key-player .left img{
  width: calc(100% - 1.6rem);
}

.key-player .right{
  width: 68%;
}

.key-player .image-note{
  font-size: 1.2em;
  color: #666;
  margin-bottom: 0;
}

.key-player h6{ margin-top: .8rem }

.right-content ul{
  list-style: disc;
  padding-left: 1.8rem;
}

.right-content li{
  font-family: 'Sarabun', sans-serif;
  font-size: 1.8em;
  font-weight: 300;
  color: #222;
  line-height: 1.4;
  margin-bottom: 1.6rem;
}

.right-content p.author-name{
  font-size: 2em;
  margin-bottom: .8rem;
}

a.article-link{
  color: #000;
  font-size: 1.8em;
  margin-bottom: 2.4rem;
  display: block;
}

.pull{
  border: 1px solid #000;
  padding: 1.6rem;

  font-size: .8em;
}

.pull.episode .chunk{
  display: flex;
}

.pull.episode .chunk p span{ display: block }


.excerpt-wrap{
  width: 100%;
  border: 1px solid #000;
  padding: 2.4rem;
}

.excerpt-wrap img{
  width: 75%;
}

p.excerpt-note{
  font-style: italic;
  font-size: 1.6em;
  max-width: 560px;
  margin-top: 1.6rem;
}

.glossary-term p{
  font-size: 1.6em;
}

.glossary-term p .term{
  font-weight: 700;
  margin-right: .8rem;
}

.glossary-term.sub{padding-left: 6.4rem}
.glossary-term.sub-sub{padding-left: 12.8rem}














  .debug-grid {display: none !important }

.debug-grid{
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.debug-grid .inner{ width: 100%; max-width: 1000px; margin: 0 auto; display: flex;}

.debug-grid .inner .col{
  border-right: 1px solid rgba(0,0,0,.1);
  width: 12.5%;
  height: 100%;
}

.debug-grid .inner .col:first-of-type{border-left: 1px solid rgba(0,0,0,.1);}
